@import './element_ui';
@import './transition';

body{
    margin:0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    color: #263238;
	min-height: 100vh;
}
/*清除原始样式*/
ul, ol, li,
dl, dt, dd,
h1, h2, h3, h4, h5,
p {
	margin: 0;
	padding: 0;
	list-style: none !important;
}
a{text-decoration:none !important}
input:-webkit-autofill {
    /* -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255) inset !important; */
    transition:background-color 5000s ease-in-out 0s;
}

html {
    height: 100%;
    box-sizing: border-box;
}
  
#app{
    height: 100vh;
}

h3{
    font-weight: 400;
    font-size: 22px;
}

// 自定义滚动条样式
.customScrollbar{
    // overflow-y: hidden;
    overflow: auto;
    &:hover{
        // overflow: auto;
    }
    // 滚动条整体样式
    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
        background-color: #F5F5F5;
    }
    // 轨道部分
    &::-webkit-scrollbar-track{
        border-radius: 10px;
        background-color: #fff;
    }
    // 滑块部分
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: rgb(211, 205, 205);
    }
}

// 字体
@font-face{
    font-family: 'warhelioscondc-webfont';
    src: url('./fontFamily/warhelioscondc-webfont.woff');
}
@font-face{
    font-family: 'warhelioscondcbold-webfont';
    src: url('./fontFamily/warhelioscondcbold-webfont.woff');
}
@font-face{
    font-family: 'wg-stencil-d';
    src: url('./fontFamily/wg-stencil-d.woff');
}
@font-face{
    font-family: 'wg-stencil';
    src: url('./fontFamily/wg-stencil.woff');
}

// 字号
.FS18{
    font-size: 18px;
}